@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500');

*{
	// transition: all .5s linear;
}

@font-face {
    font-family: 'lucida_grandebold';
    src: url('../fonts/8292-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html,body{
	width: 100%;
	height: 100%;
	box-size:border-box;
}

.modal{
	display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
    &__content{
		background-color:#77aad5;
    	margin: 0 auto;
    	padding: 30px;
    	border: 1px solid #888;
    	border-radius: 10px;
    	width: 80%;;
    	margin: auto;
    	padding: 20px;
    	border: 1px solid #888;
    	width: 60%;
    	color:#fff;
    	& h2{
    		font-family: 'Raleway', sans-serif;
    		font-size: 48px;
    		font-weight: normal;
    		text-align: center;
    		color:#fff;
    		@media screen and (max-width: 940px ) {
    			font-size: 42px;
    		}
    		@media screen and (max-width: 1024px ) {
    			font-size: 36px;
			
			}
			@media screen and (max-width: 414px ) {
				font-size: 30px;
			}

			
		
    	}
    	& p{
    		text-align: center;
    	}


    }

    &__form{
    	width: 100%;
    	// margin: 0 auto;
    }
    &__checkbox{
    	display: none;
    }
    &__label{
    	position: relative;
    	margin-left: 50px;
    	display: inline-block;

    }
    &__label:after{
	
  		content: '';
    	height: 30px;
    	width: 30px;
    	border-radius: 50%;
    	border: 1px solid #fff;
    	position: absolute;
    	top: -10px;
    	left: -50px;

    }
    &__checkbox:checked + &__label:after{
    	background-image: url(../img/tick.svg);
    	background-size: 25px;
    	background-position: 5px;
   		background-repeat: no-repeat;
    }
    &__input{
    	width: 40%;
    	border-radius: 50px;
    	border:none;
    	margin-bottom: 20px;
    	padding: 20px;
    	color:#333333;
    	@media screen and (max-width: 768px ) {
			width: 90%;
			padding: 10px;
			// display: block;
			// margin: 10px auto;
		}
    	&--name,
    	&--phone{
			margin-right: 35px;
			@media screen and (max-width: 1024px ) {
			margin-right: 15px;
			@media screen and (max-width: 852px ) {
			margin-right: 5px;
		}
		}

    	}
    	&--message{
    		width: 92%;
    		height: 100px;
    		border-radius: 10px;
    		display: block;
    	}
    }

    .close{
    	float: right;
    	width: 40px;
    	& img{
			width: 100%;
    	}
    }
    .close:hover,
	.close:focus {
    cursor: pointer;
}
}

.container{
	width: 60%;
	display: flex;
	margin: auto;
	justify-content:space-between;
	@media screen and (max-width: 1400px ) {
		width: 70%;
	}
	@media screen and (max-width: 1125px ) {
		width: 80%;
	}

	@media screen and (max-width: 1040px ) {
		width: 92%;
	}
	@media screen and (max-width: 920px ) {
		width: 96%;
	}
	@media screen and (max-width: 660px ) {
		flex-wrap:wrap;
		
	}

	&--column{
		flex-direction:column;
	}
	&--nowrap{
		flex-wrap:nowrap;
	}

}

.section{
	font-family: 'Raleway', sans-serif;
	&--header{
		background:linear-gradient(173deg, #77aad5 0%, #77aad5 77%, rgba(255, 255, 255, 0) 77.1%, rgba(255, 255, 255, 0) 100%);
		padding-bottom: 220px;
		padding-top: 60px;
		 @media screen and (max-width: 640px ) {
			padding-top: 50px;
		}	
	}
	&--print{
		margin-top: -100px;
		@media screen and (max-width: 562px ) {
			// margin-top: 0;
		}
	}
	&--case{
		padding-top: 50px;
		 @media screen and (max-width: 562px ) {
		 	padding-top: 20px;
		 }
		 @media screen and (max-width: 414px ) {
		 	margin-bottom: -150px;
		 }
	}
	&--result{
		background: linear-gradient(173deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 15%, #77aad5 15.1%, #77aad5 85%, rgba(255, 255, 255, 0) 85.1%, rgba(255, 255, 255, 0) 100%);
		padding-top: 150px;
		padding-bottom: 100px;
		 @media screen and (max-width: 800px ) {
			padding-top: 200px;
			padding-bottom: 150px;
		}
		 @media screen and (max-width: 640px ) {
			padding-top: 250px;	
		}
		@media screen and (max-width: 414px ) {
			padding-bottom: 200px;
		}		
	}
	&--questions{
		margin-top: -80px;
   		 padding-bottom: 100px;

		@media screen and (max-width: 414px ) {
			margin-bottom: -50px;
			margin-top: -120px;
		}
		 @media screen and (max-width: 320px ) {
			margin-bottom: -100px;	
	}
	}
	&--slide{
		background: linear-gradient(173deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 15%, #77aad5 15.1%, #77aad5 85%, rgba(255, 255, 255, 0) 85.1%, rgba(255, 255, 255, 0) 100%);
		padding-top: 320px;
		margin-top: -190px;
		padding-bottom: 230px;
		@media screen and (max-width: 414px ) {
			padding-bottom: 200px;
		}
		 @media screen and (max-width: 320px ) {
			padding-top: 200px;	
			padding-bottom: 200px;
		}

	}
	&--form{
		padding-bottom: 70px;
		@media screen and (max-width: 768px ) {
			margin-top: -60px;
		}
		@media screen and (max-width: 414px ) {
			margin-top: -120px;
		}
	}
	&__title{
		text-align: center;
		color:#fff;
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
		&--black{
			color:#333333;
		}

	}
	&__subtitle{
		text-align: center;
		color:#fff;
		font-family: 'Raleway', sans-serif;
		font-size: 30px;
		font-weight: 300;
		padding-bottom: 50px;
		@media screen and (max-width: 414px ) {
			padding-bottom: 0;
		}
		 @media screen and (max-width: 320px ) {
			font-size: 24px;	
		}
		&--black{
			color:#333333;
			@media screen and (max-width: 320px ) {
			font-size: 24px;	
		}
		}
	}

	&__image{
		width: 40%;
		@media screen and (max-width: 1700px ) {
			width: 50%;
			padding-top: 100px;
		}

		
		& img{
			width: 100%;
			min-width: 200px;
		}
		 @media screen and (max-width: 562px ) {
		 	display: none;
		 }
		&--abs{
			width: 475px;
			padding-top: 0px;
			@media screen and (max-width: 740px ) {
			flex-basis: 40%;
			align-self:center;
		}
			// position: relative;
			& img{
				// position: absolute;
				// top:-130px;
				width: 110%;
			}
		}
	}
	&__btn{
		background-color: #696f87;
		border:none;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 352px;
		border-radius: 100px;
		color:#fff;
		margin-top: 30px;
		font-size: 24px;
		font-weight: 400;
		opacity: 0.7;
		transition: all .5s linear;
		&:hover,
		&:focus{
			opacity: 1;
		}
		@media screen and (max-width: 768px ) {
			width: auto;
			font-size: 20px;
			padding: 15px 30px 15px 30px;
		}
		@media screen and (max-width: 414px ) {
			display: block;
			margin: 0 auto;
		}
		&--center{
			display: block;
			// padding: 15px 45px;
			margin: 0 auto;
		}
	}
}

.header{
	color:#333333;
	&__logo {
		font-family:'lucida_grandebold';
		font-size: 36px;
		padding-top: 10px;
		padding-bottom: 10px;
		text-transform: uppercase;
		font-weight: bold;
		align-self:center;
		@media screen and (max-width: 1366px ) {
			flex-basis:25%;
		}
		@media screen and (max-width: 768px ) {
			flex-basis:20%;
			flex-grow:1;
		}
		// @media screen and (max-width: 640px ) {
		// 	flex-basis:30%;
		// }
}
	&__title{
		@media screen and (max-width: 1366px ) {
			flex-basis:50%;
			font-size: 16px;
			flex-grow:2;
		}
		@media screen and (max-width: 782px ) {
			flex-basis:50%;
		}
		 
		//  @media screen and (max-width: 640px ) {
		// 	flex-basis:35%;
		// 	flex-grow:1;
		// }
		
		
		 @media screen and (max-width: 564px ) {
		 	display: none;
		 }
	}
	&__title p{
		font-family: 'Raleway', sans-serif;
		align-self:center;
		font-size: 19px;
		font-weight:normal;
		text-align: center;
		@media screen and (max-width: 740px ) {
			font-size: 16px;
		}
		

	}
	&__tel{
		text-align: right;
		align-self:center;
		font-family:'lucida_grandebold';
		font-size: 19px;
		font-weight: 400;
		@media screen and (max-width: 1366px ) {
			font-size: 16px;
			flex-basis:25%;
			flex-grow:1;
		}
		 @media screen and (max-width: 736px ) {
				flex-basis:30%;
				font-size: 14px;
		}
		//  @media screen and (max-width: 640px ) {
		// 		flex-basis:40%;
		// 		flex-grow:1;
				


		// }		
	}
}
.info{
	width: 60%;
	font-family:'Raleway', sans-serif;
	&--position{
		padding-top: 100px;
		@media screen and (max-width: 768px ) {
			padding-top: 0;
		}
	}
	&--left{
		padding-left: 140px;
		padding-top: 50px;
		@media screen and (max-width: 1600px ) {
			padding-left: 0;
			padding-top: 0;
		}
	}
	 @media screen and (max-width: 562px ) {
		 width: 96%;
		 margin:0 auto;	
	}
	
	
	& span{

		font-size: 24px;
		color:#fff;
	}
	&__title{
		font-size: 45px;
		color:#ffe100;
		@media screen and (max-width: 1366px ) {
			font-size: 38px;
		}
		@media screen and (max-width: 640px ) {
			font-size: 34px;
		}

		 @media screen and (max-width: 640px ) {
			font-size: 32px;
		}	
	}
	&__text{
		font-family: 'Raleway', sans-serif;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		color:#333333;
		margin-top: 0;
		@media screen and (max-width: 968px ) {
			font-size: 20px;
		}
		@media screen and (max-width: 320px ) {
			font-size: 18px;
		}

		
		&--light{
			font-size: 20px;
			font-weight: 300;
			opacity: 0.8;
			@media screen and (max-width: 768px ) {
			font-size: 18px;
		}
		}
		&--white{
			font-size: 20px;
			color:#fff;
			opacity: 0.8;
		}
	}
	

	
		
	&--top{
		width: 50%;
		font-family: 'Raleway', sans-serif;
		color:#333333;
		@media screen and (max-width: 660px ) {
			width: 90%;
			margin: auto;
		}
		& h3{
			font-size: 36px;
			@media screen and (max-width: 736px ) {
				// font-size: 26px;
			}

		}
		& p{
			font-size: 20px;
			font-weight: 200; 
			@media screen and (max-width: 736px ) {
				font-size: 18px;
			}
		}
	}

}
.item{
	// padding-top: 30px;
	width: 33%;
	padding-bottom: 50px;
	 @media screen and (max-width: 620px ) {
		width: 96%;
		margin: auto; 	
	}

	&__img{
		display: block;
		margin: 0 auto;
	}
	&__title{
		text-align: center;
		text-transform: uppercase;
		
	}
	& h4{
		font-size: 20px;
		
	}
	& p{
			font-size: 15px;
			font-family: 'Raleway', sans-serif;

		}
}
.list{
	list-style-type: none;
	color:#fff;
	width: 65%;
	margin:0 auto;
	padding-left: 0;
	//  @media screen and (max-width: 680px ) {
	// 	width: 90%; 	
	// }
	 @media screen and (max-width: 680px ) {
		width: 98%; 	
	}

	& li{
		position: relative;
		padding-bottom: 75px;
		 @media screen and (max-width: 680px ) {
		 	padding-bottom: 30px;
		 }
		  @media screen and (max-width: 320px ) {
			padding-bottom: 10px;
			// padding-left: 5px;	
		}
		
	}
	& li:before,
	& li:after{
		background-repeat: no-repeat;
		background-position: center;
	}
	
	& li:nth-of-type(odd):before{
		content: '';
		display: inline-block;
		width: 140px;
		height: 140px;
		background-color: #696f87;
		border-radius: 50%;
		position: absolute;
		left: -180px;
		@media screen and (max-width: 1024px ) {
			width: 120px;
			height: 120px;
			left: -140px;
		}
		 @media screen and (max-width: 680px ) {
		 	content: none;
		 }
	}
	& li:nth-of-type(even):after{
		content: '';
		display: inline-block;
		width: 140px;
		height: 140px;
		background-color: #696f87;
		border-radius: 50%;
		position: absolute;
		right: -150px;top: -10px;
		@media screen and (max-width: 1024px ) {
			width: 120px;
			height: 120px;
			right: -100px;
		}
		 @media screen and (max-width: 680px ) {
		 	content: none;
		 }
	}
	& li:first-of-type:before{
		background-image: url(../img/search.svg);
 
	}
	& li:nth-of-type(even):after{
		background-image: url(../img/startup.svg);
	}
	& li:nth-of-type(3):before{
		background-image: url(../img/bar-chart.svg);
	}
	&__subtitle{
		&:before{
		position: absolute;
    	content: "";
    	display: block;
    	right: 101%;
    	top: 145px;
    	width: 100px;
    	height: calc(100% - 120px);
    	border-left: 4px solid #ffe100;
   	 	border-bottom: 4px solid #ffe100;
   	 	 @media screen and (max-width: 800px ) {
				content: none;
			}	
		}
		&--after:after {
		position: absolute;
    	content: "";
    	display: block;
    	left: 96%;
    	top: 140px;
    	width: 100px;
    	height: calc(100% - 110px);
    	border-right: 4px solid #ffe100;
   	 	border-bottom: 4px solid #ffe100;
   	 	 @media screen and (max-width: 800px ) {
				content: none;
			}	
   	}
}
	


	& span{
		padding-right: 2%;
		font-size: 48px;
		color:#ffe100;
		@media screen and (max-width: 736px ) {
			// font-size: 32px;
			width: 18%;
		}

	}
	& h3{
		display: inline-block;
		font-size: 20px;
		@media screen and (max-width: 736px ) {
			width: 80%;
		}
		@media screen and (max-width: 320px ) {
			font-size: 18px;
			width: 75%;
		}
	}
}

.question{
	display: flex;
	font-family:'Raleway', sans-serif;

	& span{
		padding-right: 50px;
		align-self:center;
		width: 98px;
		@media screen and (max-width: 414px ) {
			padding-right: 20px;
		}
		 @media screen and (max-width: 680px ) {
			display: none;	
		}
		& img{
			width: 98px;
			@media screen and (max-width: 736px ) {
				width: 58px;
			}

		}
	}
	& h4{
		font-size: 20px;
	}
	& p{
		font-size: 15px;
		font-weight: 200;
	}
}
.slider{
	padding-bottom: 50px;
	width: 60%;
	margin: 0 auto;
	@media screen and (max-width: 692px ) {
		width: 65%;
	}
	@media screen and (max-width: 525px ) {
		width: 75%;
	}


	&__img{
		position: relative;
		height: 200px;
	
		
		 @media screen and (max-width: 768px ) {
			height: 150px;
		}
		@media screen and (max-width: 681px ) {
			height: 120px;
		}
		 @media screen and (max-width: 414px ) {
			height: 90px;	
		}	
		& div{
			position: absolute;
			top:-60%; right: 10%;
			max-width: 252px;
			border-radius: 50%;
			border: 3px solid lightgray;
			@media screen and (max-width: 1366px ) {
				right: 5%;
			}


			& img{
				width: 100%;
			}

		}
	}
	&__item{
		margin-top: 120px;
		border-radius: 10px;
		padding-bottom: 20px;
		background-color: #fff;
		width: 60%;
		 @media screen and (max-width: 680px ) {
			margin-top: 80px;	
		}
		& h5{
			text-align: center;
			font-size: 20px;
		}
		& p{
			padding-right: 20px;
			padding-left: 20px;
			line-height: 2;
			 @media screen and (max-width: 320px ) {
				font-size: 14px; 	
			}
		}

	}
	&__img{
		width: 50%;
		margin: 0 auto;
		
	}
}
.slick-prev,
.slick-next{
	width: 58px;
	height: 58px;
	display: inline-block;
	background-color: #fff;
	border-radius: 100px;
}
.slick-prev{
	left: -200px;
	@media screen and (max-width: 800px ) {
		left: -100px;
	}
	&:before{
		// font-size: 58px;
		content: url(../img/back.svg);
		width: 30px;
		height: 30px;
		display: inline-block;
		
	}
}
.slick-next{
	right: -200px;
	@media screen and (max-width: 800px ) {
		right: -100px;
	}
	&:before{
		// font-size: 58px;
		content: url(../img/next.svg);
		width: 30px;
		height: 30px;
		display: inline-block;
	}
	

}
.slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
  	background-color: #252525;
  	
  }
  .slick-next:hover,
  .slick-next:focus{
  	&:before{
  		content: url(../img/next-w.svg);
  	}
  }
  .slick-prev:hover, 
  .slick-prev:focus{
  	&:before{
  		content: url(../img/back-w.svg);
  	}
  }
  


.form{
	width: 50%;
	
	& h3{
		font-size: 36px;
		text-align: center;
		margin-bottom: 20px;
	}
	 @media screen and (max-width: 768px ) {
		padding-top: 30px;
	}
	@media screen and (max-width: 660px ) {	
		width: 90%;
		margin: auto;
	}
	&__input{
		 display: block;
   		 width: 75%;
   		 height: 60px;
   		 border-radius: 30px;
   		 background-color: #e8e8e8;
    	 border: solid 1px #979797;
   		 // font: 400 20px/1 Raleway, Arial, sans-serif;
   		 padding-left: 20px;
   		 margin: 10px auto 30px;
   		 outline: none;
   		 @media screen and (max-width: 1700px ) {
   		 	width: 85%;
   		
   		 }
	}
	&__checkbox{
		margin-left: 40px;
		display: none;
	}
	&__checkbox:checked{
		background-color: red;
	}
	&__btn{
		background-color: #696f87;
		border:none;
		padding: 15px 70px;
		border-radius: 100px;
		color:#fff;
		font-size: 20px;
		transition: all .5s linear;
		 @media screen and (max-width: 800px ) {
			display: block;
			margin: 0 auto;
			margin-top: 20px;
		}
		@media screen and (max-width: 662px ) {	
			display: inline-block;
		}
		@media screen and (max-width: 536px ) {
			display: block;
		}
		&--white{
			display: block;
			margin: 0 auto;
			background-color:#fff;
			margin-top: 10px;
			
		}
		&--blue{
			color: #77aad5;
			@media screen and (max-width: 414px ) {
				padding: 15px 30px;
			}
		}
		&--white:disabled{
			background-color: lightgray;
		}

	}
	&__btn:disabled{
		background-color: lightgray;
	}
	&__label{
		width: 150px;
		display: inline-block;
		margin-left: 110px;
		position: relative;
		@media screen and (max-width: 1600px ) {
			margin-left: 60px;
		}
		@media screen and (max-width: 414px ) {
			width: auto;
		}

	}
	&__label:after{
		content: '';
		width: 15px;
		height: 15px;
		display: inline-block;
		border-radius: 50%;
		border:2px solid lightgray;
		position: absolute;
		left: -30px; top: -5px;
		// @media screen and (max-width: 1600px ) {
		// 	left:;
		// }
	}
	&__checkbox:checked + &__label:after{
		width: 20px;
		height: 20px;
		display: inline-block;
		border-radius: 50%;
		background-color: red;
	}
}
.footer{
	background-color: #77aad5;

}

.feedback{
	display: none;
    position: fixed; 
    z-index: 10; 
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
    &__content{
    	background-color:#77aad5;
    	padding: 20px;
    	border: 1px solid #888;
    	border-radius: 10px;
    	width: 300px;
    	margin: auto;
    	border: 1px solid #888;
    	color:#fff;
    	@media screen and (max-width: 320px ) {
    		width: 250px;
    	}
    }
    & h2{
    		font-family: 'Raleway', sans-serif;
    		font-size: 48px;
    		font-weight: normal;
    		text-align: center;
    		color:#fff;
    		@media screen and (max-width: 320px ) {
    			font-size: 40px;
    		}
    	}
    	& p{
    		text-align: center;
    	}
    	 .close{
    	float: right;
    	width: 40px;
    	& img{
			width: 100%;
    	}
   	 }
    .close:hover,
	.close:focus {
    cursor: pointer;
	}
	&__btn{
		border:none;
		padding: 15px 34px;
		border-radius: 100px;
		color:#77aad5;
		display: block;
		margin: 0 auto;
		background-color:#fff;
		margin-top: 10px;
	}


}